.home {
    background-image: url("vpn1.jpg");
    text-align: center;
    text-decoration: none;
    justify-content: center;


}

.text {
    padding-top: 20px;
    padding-bottom: 110px;
}

button {
    background-color: rgb(15, 214, 15);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.text h1 {
    font-size: 40px;
    font-weight: bold;
}

.text p:last-child{
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}

.home p:first-child{
    font-size: 60px;
    font-weight: bold;
}

.first{
    display: flex;
    padding-left: 10%;
   
    
}

.first .img img{
    height: 350px;
    width: 170%;
    
}

.content{
    text-align:left;
    width: 40%;
    margin-left: 32%;
    padding-top: 3%;
    
}

p{
    font-size: 25px;
    
}

.second-box{
    display: flex;
}
.second_content{
    text-align:left;
    width: 40%;
    margin-left: 10%;
    padding-top: 3%;
    margin-top: 5%;
    
}

.second-box .img img{
    height: 100%;
    width: 160%;
    margin-left: 12%;
    margin-top: 5%;
}

.third_box{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.third_box .img img{
    height: 380px;
    width: 80%;
}

ul{
    display: flex;
}
.icon ul li{
    list-style: none;

}

.icon ul li a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #eeeaeb;
    border-radius: 50%;
    margin: 22px 10px; 
    text-decoration: none;
    font-size: 25px;
}

.third_content{
    width: 50%; 
}

.fourth_box{
    display: flex;
    width: 92%;
    margin-top: 10%; 
    padding-left: 4%;
    padding-right: 4%;

}
.fourthfirst_content{
    height: 65%;
    width: 80%;
    text-align: center;

    
}
.fourthsec_content{
    height: 65%;
    width: 80%;
    text-align: center;
   
}
.fourththird_content{
    height: 65%;
    width: 90%;
    text-align: center;
}

.more{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-top: 2%;
    
}
.more a{
    color: rgb(15, 214, 15);
}
.link a{
    color: rgb(15, 214, 15);
}

.footer{
    background-image: url("footer.jpg");
    padding: 15px;
    text-decoration: none;
    justify-content: center;
    margin-top: 30px;
    background-size: cover;
  

}
.footer h2{
    
    /*margin-left: 75%;
    margin-right: 20%; */  
    font-weight: bold;
    font-size: 40px;
}
/*.footer p{
    margin-left: 75%;
    margin-right: 20%;
   

}*/
.footer h1{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;  
}

.footer .more {
    margin-bottom: 4%;
    margin-top: 8%;
}

.position{
    margin-top: 7%;
    margin-left: 5%;
}